In [11]:
import pandas as pd
import numpy as np
import random
from pandas import DataFrame
try:
    import cPickle as pickle
except ImportError:
    import _pickle as pickle

In [2]:
#Import datasets into dataframes
below65 = pd.read_csv('C:\\Users\\sara1\\Desktop\\Workingdata\\rl_below65_final_cont_noterm.csv')
above65 = pd.read_csv('C:\\Users\\sara1\\Desktop\\Workingdata\\rl_above65_final_cont_noterm.csv')

In [3]:
#Display the columns
below65.head()

,stay_id,sofa_score,sirs,age,weight,gender,gcs,sofa_24hours,bilirubin_total,bicarbonate,...,creatinine,heart_rate,temperature,spo2,vaso_rate,vaso_amount,urineoutput,died_in_hosp,vaso_input,reward
0,38563000,0.0,1.0,0.425532,0.107514,1.0,1.0,0.043478,0.065682,NaN,...,0.105287,0.506438,0.563117,0.959184,0.000483,0.039987,0.057143,0,2.0,-0.25
1,38563000,0.0,1.0,0.425532,0.107514,1.0,1.0,0.086957,0.065682,NaN,...,0.105287,0.506438,0.563117,0.959184,0.000483,0.039987,0.057143,0,2.0,0.00
2,38563000,0.0,1.0,0.425532,0.107514,1.0,1.0,0.173913,0.065682,NaN,...,0.105287,0.506438,0.563117,0.959184,0.000483,0.039987,0.057143,0,2.0,-0.25
3,38563000,0.0,1.0,0.425532,0.107514,1.0,1.0,0.043478,0.065682,NaN,...,0.105287,0.506438,0.563117,0.959184,0.000483,0.039987,0.057143,0,2.0,-0.25
4,38563000,0.0,1.0,0.425532,0.107514,1.0,1.0,0.086957,0.065682,NaN,...,0.105287,0.506438,0.563117,0.959184,0.000483,0.039987,0.057143,0,2.0,-0.25

In [4]:
#Display the columns
above65.head()

,stay_id,sofa_score,sirs,age,weight,gender,gcs,sofa_24hours,bilirubin_total,bicarbonate,...,creatinine,heart_rate,temperature,spo2,vaso_rate,vaso_amount,urineoutput,died_in_hosp,vaso_input,reward
0,34712382,0.277778,0.75,1.553191,0.048170,0.0,0.916667,0.304348,0.065682,NaN,...,0.179487,0.218884,0.563117,0.959184,0.000983,0.123571,0.000000,0,2.0,0.00
1,34712382,0.277778,0.75,1.553191,0.048170,0.0,0.916667,0.304348,0.065682,NaN,...,0.179487,0.218884,0.563117,0.959184,0.000983,0.123571,0.000000,0,2.0,0.00
2,34712382,0.277778,0.75,1.553191,0.048170,0.0,0.916667,0.304348,0.065682,NaN,...,0.179487,0.218884,0.563117,0.959184,0.000983,0.123571,0.000000,1,2.0,-0.25
3,34712382,0.277778,0.75,1.553191,0.048170,0.0,0.916667,0.304348,0.065682,NaN,...,0.179487,0.218884,0.563117,0.959184,0.000983,0.123571,0.000000,1,2.0,-0.25
4,30902754,0.000000,1.00,1.468085,0.104046,1.0,0.416667,0.043478,0.065682,NaN,...,0.017094,0.476395,0.563117,0.969388,0.000986,0.326336,0.042857,1,4.0,-0.25

In [8]:
#Replace the singular value in bicarbonate with random numbers from max and min val
column_name = 'bicarbonate'

# Generate random numbers within the specified range
min_value = 20
max_value = 36
random_numbers_below65 = np.random.randint(min_value, max_value + 1, size=len(below65))
random_numbers_above65 = np.random.randint(min_value, max_value + 1, size=len(above65))

# Replace values in the column with random numbers
below65[column_name] = random_numbers_below65
above65[column_name] = random_numbers_above65

In [9]:
# now split into train/validation/test sets for below 65 dataset
unique_ids_below65 = below65['stay_id'].unique()
random.shuffle(unique_ids_below65)
train_sample_below65 = 0.7
val_sample_below65 = 0.1
test_sample_below65 = 0.2
train_num_below65 = int(len(unique_ids_below65) * 0.7)
val_num_below65 = int(len(unique_ids_below65)*0.1) + train_num_below65
train_ids_below65 = unique_ids_below65[:train_num_below65]
val_ids_below65 = unique_ids_below65[train_num_below65:val_num_below65]
test_ids_below65 = unique_ids_below65[val_num_below65:]

In [12]:
#Put them into dataframes for below 65 dataset
train_set_below65 = DataFrame()
train_set_below65 = below65.loc[below65['stay_id'].isin(train_ids_below65)]

val_set_below65 = DataFrame()
val_set_below65 = below65.loc[below65['stay_id'].isin(val_ids_below65)]

test_set_below65 = DataFrame()
test_set_below65 = below65.loc[below65['stay_id'].isin(test_ids_below65)]

In [14]:
av_below65 = train_set_below65[column_name].mean()
std_below65 = train_set_below65[column_name].std()
train_set_below65[column_name] = (train_set_below65[column_name] - av_below65) / std_below65
val_set_below65[column_name] = (val_set_below65[column_name] - av_below65) / std_below65
test_set_below65[column_name] = (test_set_below65[column_name] - av_below65) / std_below65

C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/880624015.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_set_below65[column_name] = (train_set_below65[column_name] - av_below65) / std_below65
C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/880624015.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_set_below65[column_name] = (val_set_below65[column_name] - av_below65) / std_below65
C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/880624015.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_set_below65[column_name] = (test_set_below65[column_name] - av_below65) / std_below65

In [15]:
#Scale the datasets for below 65
minimum_below65 = min(train_set_below65[column_name])
maximum_below65 = max(train_set_below65[column_name])
train_set_below65[column_name] = (train_set_below65[column_name] - minimum_below65)/(maximum_below65-minimum_below65)
val_set_below65[column_name] = (val_set_below65[column_name] - minimum_below65)/(maximum_below65-minimum_below65)
test_set_below65[column_name] = (test_set_below65[column_name] - minimum_below65)/(maximum_below65-minimum_below65)

C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/705239287.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_set_below65[column_name] = (train_set_below65[column_name] - minimum_below65)/(maximum_below65-minimum_below65)
C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/705239287.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_set_below65[column_name] = (val_set_below65[column_name] - minimum_below65)/(maximum_below65-minimum_below65)
C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/705239287.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_set_below65[column_name] = (test_set_below65[column_name] - minimum_below65)/(maximum_below65-minimum_below65)

In [16]:
train_set_below65.head()

,stay_id,sofa_score,sirs,age,weight,gender,gcs,sofa_24hours,bilirubin_total,bicarbonate,...,creatinine,heart_rate,temperature,spo2,vaso_rate,vaso_amount,urineoutput,died_in_hosp,vaso_input,reward
0,38563000,0.0,1.0,0.425532,0.107514,1.0,1.0,0.043478,0.065682,0.8125,...,0.105287,0.506438,0.563117,0.959184,0.000483,0.039987,0.057143,0,2.0,-0.25
1,38563000,0.0,1.0,0.425532,0.107514,1.0,1.0,0.086957,0.065682,0.3750,...,0.105287,0.506438,0.563117,0.959184,0.000483,0.039987,0.057143,0,2.0,0.00
2,38563000,0.0,1.0,0.425532,0.107514,1.0,1.0,0.173913,0.065682,0.0000,...,0.105287,0.506438,0.563117,0.959184,0.000483,0.039987,0.057143,0,2.0,-0.25
3,38563000,0.0,1.0,0.425532,0.107514,1.0,1.0,0.043478,0.065682,0.3125,...,0.105287,0.506438,0.563117,0.959184,0.000483,0.039987,0.057143,0,2.0,-0.25
4,38563000,0.0,1.0,0.425532,0.107514,1.0,1.0,0.086957,0.065682,0.3750,...,0.105287,0.506438,0.563117,0.959184,0.000483,0.039987,0.057143,0,2.0,-0.25

In [17]:
val_set_below65.head()

,stay_id,sofa_score,sirs,age,weight,gender,gcs,sofa_24hours,bilirubin_total,bicarbonate,...,creatinine,heart_rate,temperature,spo2,vaso_rate,vaso_amount,urineoutput,died_in_hosp,vaso_input,reward
9768,39103890,0.0,1.0,0.787234,0.175337,1.0,0.0,0.086957,0.065682,1.0000,...,0.105287,0.422394,0.563117,0.959184,0.000983,0.332867,0.0,1,4.0,-0.25
9769,39103890,0.0,1.0,0.787234,0.175337,1.0,0.0,0.347826,0.065682,0.1250,...,0.105287,0.422394,0.563117,0.959184,0.000983,0.332867,0.0,1,4.0,0.00
9770,39103890,0.0,1.0,0.787234,0.175337,1.0,0.0,0.434783,0.065682,0.0000,...,0.105287,0.422394,0.563117,0.959184,0.000983,0.332867,0.0,1,4.0,-0.25
9771,39103890,0.0,1.0,0.787234,0.175337,1.0,0.0,0.478261,0.065682,0.5625,...,0.105287,0.422394,0.563117,0.959184,0.000983,0.332867,0.0,1,4.0,-0.25
9772,39103890,0.0,1.0,0.787234,0.175337,1.0,0.0,0.652174,0.065682,0.8125,...,0.105287,0.422394,0.563117,0.959184,0.000983,0.332867,0.0,1,4.0,-0.25

In [18]:
test_set_below65.head()

,stay_id,sofa_score,sirs,age,weight,gender,gcs,sofa_24hours,bilirubin_total,bicarbonate,...,creatinine,heart_rate,temperature,spo2,vaso_rate,vaso_amount,urineoutput,died_in_hosp,vaso_input,reward
1452,31196251,0.055556,1.0,0.87234,0.081888,1.0,0.0,0.000000,0.065682,0.1250,...,0.105287,0.570815,0.563117,0.890709,0.000988,0.334204,0.0,0,4.0,-0.25
1453,31196251,0.055556,1.0,0.87234,0.081888,1.0,0.0,0.043478,0.065682,0.7500,...,0.105287,0.570815,0.563117,0.890709,0.000988,0.334204,0.0,0,4.0,-0.75
1454,31196251,0.055556,1.0,0.87234,0.081888,1.0,0.0,0.086957,0.065682,0.9375,...,0.105287,0.570815,0.563117,0.890709,0.000988,0.334204,0.0,0,4.0,-0.25
1455,31196251,0.055556,1.0,0.87234,0.081888,1.0,0.0,0.130435,0.065682,0.9375,...,0.105287,0.570815,0.563117,0.890709,0.000988,0.334204,0.0,0,4.0,-0.25
1456,31196251,0.055556,1.0,0.87234,0.081888,1.0,0.0,0.173913,0.065682,0.4375,...,0.105287,0.570815,0.563117,0.890709,0.000988,0.334204,0.0,0,4.0,-0.25

In [26]:
#Save the csv
train_set_below65.to_csv('C:\\Users\\sara1\\Desktop\\Workingdata\\rl_train_below65.csv',index = False)
val_set_below65.to_csv('C:\\Users\\sara1\\Desktop\\Workingdata\\rl_val_below65.csv',index = False)
test_set_below65.to_csv('C:\\Users\\sara1\\Desktop\\Workingdata\\rl_test_below65.csv',index = False)

In [19]:
# now split into train/validation/test sets for above 65 dataset
unique_ids_above65 = above65['stay_id'].unique()
random.shuffle(unique_ids_above65)
train_sample_above65 = 0.7
val_sample_above65 = 0.1
test_sample_above65 = 0.2
train_num_above65 = int(len(unique_ids_above65) * 0.7)
val_num_above65 = int(len(unique_ids_above65)*0.1) + train_num_above65
train_ids_above65 = unique_ids_above65[:train_num_above65]
val_ids_above65 = unique_ids_above65[train_num_above65:val_num_above65]
test_ids_above65 = unique_ids_above65[val_num_above65:]

In [20]:
#Put them into dataframes for above 65 dataset
train_set_above65 = DataFrame()
train_set_above65 = above65.loc[above65['stay_id'].isin(train_ids_above65)]

val_set_above65 = DataFrame()
val_set_above65 = above65.loc[above65['stay_id'].isin(val_ids_above65)]

test_set_above65 = DataFrame()
test_set_above65 = above65.loc[above65['stay_id'].isin(test_ids_above65)]

In [21]:
av_above65 = train_set_above65[column_name].mean()
std_above65 = train_set_above65[column_name].std()
train_set_above65[column_name] = (train_set_above65[column_name] - av_above65) / std_above65
val_set_above65[column_name] = (val_set_above65[column_name] - av_above65) / std_above65
test_set_above65[column_name] = (test_set_above65[column_name] - av_above65) / std_above65

C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/2828362392.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_set_above65[column_name] = (train_set_above65[column_name] - av_above65) / std_above65
C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/2828362392.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_set_above65[column_name] = (val_set_above65[column_name] - av_above65) / std_above65
C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/2828362392.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_set_above65[column_name] = (test_set_above65[column_name] - av_above65) / std_above65

In [22]:
#Scale the datasets for above 65
minimum_above65 = min(train_set_above65[column_name])
maximum_above65 = max(train_set_above65[column_name])
train_set_above65[column_name] = (train_set_above65[column_name] - minimum_above65)/(maximum_above65-minimum_above65)
val_set_above65[column_name] = (val_set_above65[column_name] - minimum_above65)/(maximum_above65-minimum_above65)
test_set_above65[column_name] = (test_set_above65[column_name] - minimum_above65)/(maximum_above65-minimum_above65)

C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/1883650119.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_set_above65[column_name] = (train_set_above65[column_name] - minimum_above65)/(maximum_above65-minimum_above65)
C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/1883650119.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_set_above65[column_name] = (val_set_above65[column_name] - minimum_above65)/(maximum_above65-minimum_above65)
C:\Users\sara1\AppData\Local\Temp/ipykernel_2820/1883650119.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_set_above65[column_name] = (test_set_above65[column_name] - minimum_above65)/(maximum_above65-minimum_above65)

In [23]:
train_set_above65.head()

,stay_id,sofa_score,sirs,age,weight,gender,gcs,sofa_24hours,bilirubin_total,bicarbonate,...,creatinine,heart_rate,temperature,spo2,vaso_rate,vaso_amount,urineoutput,died_in_hosp,vaso_input,reward
4,30902754,0.0,1.0,1.468085,0.104046,1.0,0.416667,0.043478,0.065682,0.5625,...,0.017094,0.476395,0.563117,0.969388,0.000986,0.326336,0.042857,1,4.0,-0.25
5,30902754,0.0,1.0,1.468085,0.104046,1.0,0.416667,0.086957,0.065682,0.3750,...,0.017094,0.476395,0.563117,0.969388,0.000986,0.326336,0.042857,1,4.0,3.75
6,30902754,0.0,1.0,1.468085,0.104046,1.0,0.416667,0.130435,0.065682,0.1250,...,0.017094,0.476395,0.563117,0.969388,0.000986,0.326336,0.042857,1,4.0,-0.25
7,30902754,0.0,1.0,1.468085,0.104046,1.0,0.416667,0.173913,0.065682,0.0000,...,0.017094,0.476395,0.563117,0.969388,0.000986,0.326336,0.042857,1,4.0,-0.25
8,30902754,0.0,1.0,1.468085,0.104046,1.0,0.416667,0.217391,0.065682,0.2500,...,0.017094,0.476395,0.563117,0.969388,0.000986,0.326336,0.042857,1,4.0,-0.25

In [24]:
val_set_above65.head()

,stay_id,sofa_score,sirs,age,weight,gender,gcs,sofa_24hours,bilirubin_total,bicarbonate,...,creatinine,heart_rate,temperature,spo2,vaso_rate,vaso_amount,urineoutput,died_in_hosp,vaso_input,reward
9145,31301788,0.0,0.5,1.382979,0.073218,0.0,0.416667,0.086957,0.065682,0.750,...,0.059829,0.540773,0.563117,0.890709,0.001047,0.835711,0.021429,1,4.0,-0.25
9146,31301788,0.0,0.5,1.382979,0.073218,0.0,0.416667,0.130435,0.065682,0.375,...,0.059829,0.540773,0.563117,0.890709,0.001047,0.835711,0.021429,1,4.0,0.00
9147,31301788,0.0,0.5,1.382979,0.073218,0.0,0.416667,0.173913,0.065682,0.875,...,0.059829,0.540773,0.563117,0.890709,0.001047,0.835711,0.021429,1,4.0,-0.25
9148,31301788,0.0,0.5,1.382979,0.073218,0.0,0.416667,0.217391,0.065682,1.000,...,0.059829,0.540773,0.563117,0.890709,0.001047,0.835711,0.021429,1,4.0,-0.25
9149,31301788,0.0,0.5,1.382979,0.073218,0.0,0.416667,0.260870,0.065682,0.750,...,0.059829,0.540773,0.563117,0.890709,0.001047,0.835711,0.021429,1,4.0,-0.25

In [25]:
test_set_above65.head()

,stay_id,sofa_score,sirs,age,weight,gender,gcs,sofa_24hours,bilirubin_total,bicarbonate,...,creatinine,heart_rate,temperature,spo2,vaso_rate,vaso_amount,urineoutput,died_in_hosp,vaso_input,reward
0,34712382,0.277778,0.75,1.553191,0.048170,0.0,0.916667,0.304348,0.065682,0.8125,...,0.179487,0.218884,0.563117,0.959184,0.000983,0.123571,0.000000,0,2.0,0.00
1,34712382,0.277778,0.75,1.553191,0.048170,0.0,0.916667,0.304348,0.065682,0.1250,...,0.179487,0.218884,0.563117,0.959184,0.000983,0.123571,0.000000,0,2.0,0.00
2,34712382,0.277778,0.75,1.553191,0.048170,0.0,0.916667,0.304348,0.065682,0.7500,...,0.179487,0.218884,0.563117,0.959184,0.000983,0.123571,0.000000,1,2.0,-0.25
3,34712382,0.277778,0.75,1.553191,0.048170,0.0,0.916667,0.304348,0.065682,1.0000,...,0.179487,0.218884,0.563117,0.959184,0.000983,0.123571,0.000000,1,2.0,-0.25
8137,31494077,0.055556,0.75,1.063830,0.131021,1.0,1.000000,0.000000,0.065682,0.5000,...,0.105287,0.618026,0.563117,0.890709,0.000983,0.330192,0.021429,0,4.0,-0.25

In [27]:
#Save the csv
train_set_above65.to_csv('C:\\Users\\sara1\\Desktop\\Workingdata\\rl_train_above65.csv',index = False)
val_set_above65.to_csv('C:\\Users\\sara1\\Desktop\\Workingdata\\rl_val_above65.csv',index = False)
test_set_above65.to_csv('C:\\Users\\sara1\\Desktop\\Workingdata\\rl_test_above65.csv',index = False)